.library {
  position: fixed;
  top: 0;
  left: 0;
  width: 20rem;
  height: 100%;
  background: rgba(66, 62, 62, 0.336);
  box-shadow: 13px 13px 26px #101010;
  backdrop-filter: blur(8px);
  overflow: scroll;
  transform: translate(-100%);
  transition: all 0.5s ease;
  opacity: 0;
  h2 {
    padding: 2rem;
    color: rgb(255, 255, 255);
  }
}

.library-song {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background 0.5s ease;
  padding: 1rem 2rem 1rem 2rem;
  img {
    width: 30%;
  }
  &:hover {
    background: rgba(126, 126, 126, 0.301);
  }
}

.song-description {
  padding-left: 1rem;
  h3 {
    font-size: 1.2rem;
    color: white;
  }
  h4 {
    font-size: 0.8rem;
    color: white;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgb(131, 129, 129) transparent;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
  border-radius: 20px;
  border: transparent;
}

.selected {
  background: linear-gradient(to right, #808080, #4f5050);
}
.active-library {
  transform: translate(0);
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .library {
    width: 100%;
  }
}
